
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


$light-grey: #6B6B6B;

.fa
{
	&:hover
	{
		text-decoration:none;
		color:$light-grey;
	}
}