
#myCarousel
{
	margin: 0%;
	height: 100%;
}

.carousel-inner > .item > img 
{
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right
{
	background-image: none;
	background-color: transparent;
}

.carousel-indicators li
{
	background-color: #6B6B6B;
	border-color: #6B6B6B;
	border: #6B6B6B;
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.list_actions > a:hover
{
	background-color: transparent;
	color: black;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}