<footer class = "footer">
	<hr>
	<div class ="social-media">
		<%= link_to "", "https://www.facebook.com", :class => "fa fa-facebook fa-4x" %>
		<%= link_to "", "https://www.twitter.com", :class => "fa fa-twitter fa-4x" %>
		<%= link_to "", "https://www.instagram.com", :class => "fa fa-instagram fa-4x" %>
		<%= link_to "", "https://www.youtube.com", :class => "fa fa-youtube fa-4x" %>
	</div>

</footer>
